.container-slider {
    /* overflow-wrap: break-word; */
    width: 100%;
    /* padding-bottom: 1rem; */
}

.slider {
    position: absolute;
    top: 44vh;
    z-index: -1;

    display: inline-flex;
    flex-direction: row;
    justify-content: end;
    /* -moz-animation: slider 5s infinite linear;
    -webkit-animation: slider 5s infinite linear; */
    animation: slider 15s infinite linear;
    width: 100%;
}
.slider2 {
    position: absolute;
    left: 0;
    bottom: 1vh;
    z-index: -1;

    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;

    width: 40%;
    height: 100vh;

    animation: slider2 12s infinite linear;

}
.slider3 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

    display: inline-flex;
    justify-content: end;
    align-items: end ;

    animation: slider3 20s infinite linear;

    width: 100%;
    height: 50vh;
}
.slider4 {
    position: absolute;
    top: 0;
    left: -20px;
    z-index: -1;

    display: inline-flex;
    justify-content: start;
    align-items: end ;

    animation: slider3 20s infinite linear;
    animation: turn 20s infinite linear;


    width: 600px;
    height: 600px;
}

.slider5 {
    position: absolute;
    bottom: 10vh;
    right: 5vw;
    z-index: -1;

    display: inline-flex;
    justify-content: start;
    align-items: end ;

    width: 40%;
    height: 25vh;
}


.slider div {
    scale: 0.7;
}
.slide {
    filter: blur(3px);
    scale: 0.9;
    display: flex;
    justify-content: start;
    align-items: center;

}
/* .slider2 div {
    display: flex;
    flex-direction: row;

   


} */
.slide4 {
    filter: blur(3px);
    scale: 0.9;
    display: flex;
    justify-content: start;
    align-items: center;
    animation: turn 3s infinite linear;
}
.slide5 {
    filter: blur(2px);
    scale: 0.9;

    animation: slider5 6s infinite alternate-reverse linear;
}


@keyframes slider {
    0% {
        transform: translateX(-30%);
        opacity: 0.1;
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: translateX(-125%);
    }
}
@keyframes slider2 {
    0% {
        transform: translateX(0%);
        opacity: 0.1;
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: translate(100%, -100%);
    }
}
@keyframes slider3 {
    0% {
        transform: translate(0%, 0%);
        opacity: 0.1;
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: translate( -100%, -200%);
    }
}

@keyframes turn {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-1turn);
    }
}

@keyframes slider5 {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translate(200%, -300%);
    }
    50% {
        transform: translate(400%, 0%);
    }
    75% {
        transform: translate(600%, -300%);
    }
    100% {
        transform: translate(800%, 0%);
    }
}


/* div[index = "1"] {
    border: 3px solid black;
} */

.animate__animated.animate__fadeInDownBig {
    --animate-delay: 0.3s;
}
.animate__animated.animate__fadeInTopRight,
.animate__animated.animate__fadeInBottomLeft,
.animate__animated.animate__fadeInRight,
.animate__animated.animate__fadeInLeftBig {
    --animate-delay: 2.3s;
}
.animate__animated.animate__fadeInTopLeft,
.animate__animated.animate__fadeInBottomRight {
    --animate-delay: 3.3s;
}
.animate__animated.animate__fadeInUp {
    --animate-delay: 0.3s;
}

