:root {
    --height4: 80vh;
}

.container-slider {
    /* overflow-wrap: break-word; */
    width: 100%;
}

.slider {
    position: absolute;
    top: 44vh;
    z-index: -1;

    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    /* -moz-animation: slider 5s infinite linear;
    -webkit-animation: slider 5s infinite linear; */
    animation: slider1_280px 15s infinite linear;
    width: 100%;
}
@keyframes slider1_280px {
    0% {
        transform: translateX(0%);
        opacity: 0.1;
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes slider1_580px {
    0% {
        transform: translateX(-10%);
        opacity: 0.1;
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
    }
}

.slider2 {
    position: absolute;
    left: 0;
    bottom: 1vh;
    z-index: -1;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-end;

    width: min-content;
    height: 100vh;

    animation: slider2_280px 12s infinite linear;

}
@keyframes slider2_280px {
    0% {
        transform: translateX(0%);
        opacity: 0.1;
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: translate(calc(100vw - 180px), -100%);
    }
}

.slider3 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end ;

    animation: slider3_280px 20s infinite linear;

    width: min-content;
    height: 100vh;
}
@keyframes slider3_280px {
    0% {
        transform: translate(0%, 0%);
        opacity: 0.1;
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: translate( calc(60px - 100vw), -100%);
    }
}

.slider4 {
    position: absolute;
    top: calc((100vh - var(--height4)) / 2);
    left: -20px;
    z-index: -1;

    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end ;

    animation: turn 20s infinite linear;

    width: min-content;
    height: var(--height4);
}
@keyframes turn {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-1turn);
    }
}


.slider5 {
    position: absolute;
    bottom: 10vh;
    right: 5vw;
    z-index: -1;

    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end ;

    animation: slider5_280px 12s alternate infinite linear;

    width: min-content;
    height: 25vh;
}
@keyframes slider5_280px {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(-20vw, -100%);
    }
    50% {
        transform: translate(-40vw, 0%);
    }
    75% {
        transform: translate(-60vw, -100%);
    }
    100% {
        transform: translate(-80vw, 0%);
    }
}
/* @keyframes slider5_280px_2 {
    0% {
        transform: rotateZ(0);
    }
    25% {
        transform: rotate(-0.5turn);
    }
    50% {
        transform: rotate(0.5turn);
    }
    75% {
        transform: rotate(-0.5turn);
    }
    100% {
        transform: rotateZ(-1turn);
    }
} */

.slider div {
    scale: 0.7;
}
.slide {
    filter: blur(3px);
    scale: 0.9;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
/* .slider2 div {
    display: flex;
    flex-direction: row;




} */
.slide4 {
    filter: blur(3px);
    scale: 0.9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: turn 3s infinite linear;
}
.slide5 {
    filter: blur(2.2px);
    scale: 0.9;

    animation: slider5 6s infinite alternate-reverse linear;
}





/* div[index = "1"] {
    border: 3px solid black;
} */

.animate__animated.animate__fadeInDownBig {
    --animate-delay: 0.3s;
}
.animate__animated.animate__fadeInTopRight,
.animate__animated.animate__fadeInBottomLeft,
.animate__animated.animate__fadeInRight,
.animate__animated.animate__fadeInLeftBig {
    --animate-delay: 2.3s;
}
.animate__animated.animate__fadeInTopLeft,
.animate__animated.animate__fadeInBottomRight {
    --animate-delay: 3.3s;
}
.animate__animated.animate__fadeInUp {
    --animate-delay: 0.3s;
}

@media (min-width:280px) {
    .slider {
        animation: slider1_280px 10s infinite linear;
    }
}
/* @media (min-width:375px) {
    .slider {
        animation: slider1_280px 10s infinite linear;
    }
} */
@media (min-width:425px) {
    .slider {
        animation: slider1_280px 12s infinite linear;
    }
}
@media (min-width:580px) {
    .slider {
        animation: slider1_280px 13s infinite linear;
    }
}
@media (min-width:768px) {
    .slider2 {
        animation: slider2_280px 20s infinite linear;
    }
}
@media (min-width:780px) {
    .slider {
        animation: slider1_280px 15s infinite linear;
    }
}
@media (min-width:932px) {
    .slider {
        top: 45vh;
        animation: slider1_280px 20s infinite linear;
    }

    .slider3 {
        animation: slider3_280px 30s infinite linear;
    }
}
@media (min-width:1440px) {
    .slider3 {
        animation: slider3_280px 35s infinite linear;
    }
}