.container {
  background-image: url("../asets/ruina-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow-y: auto;
}
/* @media (max-height:766px) and ( min-width:1000px) {
  .container {
    height: 100vh;
  }
} */



.containerFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
}

.titles {
  width: 100%;
}

.container h1 {
  font-size: 2.1rem;
  margin: 3rem 0 0;
  text-align: center;
}

.container h3 {
  margin-bottom: 0;
}

.container section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: start;
  gap: 4rem;

  width: 95%;

  margin-top: 1rem;
}


/* .btnFlauta {
  height: 75vh;
} */



.gifs {
  display: grid;
  grid-template-columns: min-content min-content min-content ;
}





#btn_princ {
  margin-top: 2.5rem;
  padding: 0.5rem;

  color: white;
  font-weight: bolder;
  font-size: 1.2rem;
  inline-size: max-content;

  background: transparent;
  border-radius: 10px;
  border: 6px solid rgb(26, 30, 55);

  cursor: pointer;
}

/* #btn_princ:hover {
  animation: blur-out-expand 0.4s linear both;
}

@keyframes blur-out-expand{
  0% {
    transform:scale(1);
    filter:blur(.01px);
  }
  100% {
    transform:scale(2);
    filter:blur(12px);
    opacity:0
  }} */

.unown {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.unown p {
  /* border-bottom: 1px solid black; */
  text-align: center;
  font-weight: bolder;
}
.unown img {
  padding: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form h2 {
  text-align: center;
  font-size: 1.75rem;
}


form textarea {
  resize: none;

  width: 90%;
  padding: 0.5rem;

  border-radius: 5px;
}
form button {
  margin-top: 0.5rem;
  padding: 0.5rem;

  color: white;
  font-weight: bolder;
  font-size: 1rem;

  background: transparent;
  border-radius: 10px;
  border: 4px solid rgb(26, 30, 55);

  cursor: pointer;
}


footer {
  width: 100%;
  padding-bottom: 1rem;

  display: flex;
  justify-content: center;
}
footer p {
  margin-right: 5px;
}


.containerRes {
  background-image: url("../asets/ruina-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

  width: 100vw;
  height: 103vh;

  padding: 0 0.5rem 0.5rem ;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow-y: auto;
}

.containerRes header {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 100%;

  z-index: 1000;
}

.containerRes header button{
  margin-top: 0.5rem;
  padding: 0.5rem;

  color: white;
  font-weight: bolder;
  font-size: 1rem;

  background: transparent;
  border-radius: 10px;
  border: 4px solid rgb(26, 30, 55);

  cursor: pointer;
}

.mesage_titles {
  width: 100%;
  text-align: center;
}

.mesage_titles h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.flexUnowns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;

  width: 95%;
  height: 100%;

  margin-top: 10rem;
}


.wordUnown {
  display: flex;
  flex-direction: row;
}

.wordUnown img {
  scale: 0.8;
}

div[atrr=" "] {
  background-color: transparent;
  width: 5rem;
}



#unowns img {
  padding: 0% 1.5rem;
  margin-bottom: 2rem;
  scale: 1.7;
}

#playerMusic {
  position: absolute;
  left: 1vw;
  bottom: 4vh;

  width: 5rem;

  background-color: transparent;
  border: none;

  /* color: rgb(196, 196, 196); */
  color: white;
  text-shadow: 0px 2px 4px black;

}

@media (orientation: landscape) and (min-height:280px) {
  #btn_princ {
    margin-top: 1rem!important;
  }
}

@media (orientation: landscape) and (min-height:414px) {
  #btn_princ {
    margin-top: 3.5rem!important;
  }
}

@media (min-width:320px) {
  .titles {
    width: 90%;
  }
  #btn_princ {
    margin-top: 8rem;
  }
}

@media (min-width:425px) {
  #btn_princ {
    font-size: 1.8rem;
    margin-top: 5rem;
  }

  .gifs {
    grid-template-columns: min-content min-content min-content min-content ;
  }
}

@media (min-width:533px) {
  .titles {
    width: 80%;
  }
  .titles h3 {
    margin: 1rem 2rem;
  }
  
  #btn_princ {
    margin-top: 7rem;
  }
}

@media (min-width:600px) {
  .gifs {
    grid-template-columns: min-content min-content min-content min-content min-content ;
  }
}

@media (min-width:700px) {
  .gifs {
    grid-template-columns: min-content min-content min-content min-content min-content min-content ;
  }
}

@media (min-width:768px) {
  .container h1 {
    font-size: 3rem;
  }

  .gifs {
    grid-template-columns: min-content min-content min-content min-content min-content min-content min-content ;
  }

  .wordUnown img {
    scale: 1;
  }
}

@media (min-width:932px) {
  #btn_princ {
    margin-top: 12rem;
  }

  .wordUnown img {
    scale: 1.1;
  }
}

@media (max-width: 1000px) {
  .container section {
    flex-direction: column;
    align-items: center;
  }

}