.container {
  background-image: url("./asets/ruina-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-height:766px) and ( min-width:1000px) {
  .container {
    height: 100vh;
  }
}

@media (min-height:766px) {
  .container {
    height: 100vh;
  }
}



.containerFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 100%;
}


.container h1 {
  font-size: 3rem;
  margin: 3rem 0 2rem;
  text-align: center;
}


.container section {
  display: flex;
  justify-content: space-around;
  align-items: start;

  width: 100%;
  height: 100%;

  margin-top: 3rem;
}
@media (max-width: 1000px) {
  .container section {
    flex-direction: column-reverse;
    align-items: center;

    margin-top: 0;
  }

  form {
    margin: 0 1rem 2rem
  }
}

.gifs {
  display: grid;
  grid-template-columns: min-content min-content min-content min-content min-content min-content min-content ;
}
@media (max-width: 700px) {
  .gifs {
    grid-template-columns: min-content min-content min-content min-content min-content min-content ;
  }
}
@media (max-width: 600px) {
  .gifs {
    grid-template-columns: min-content min-content min-content min-content min-content ;
  }
}
@media (max-width: 500px) {
  .gifs {
    grid-template-columns: min-content min-content min-content min-content ;
  }
}
@media (max-width: 400px) {
  .gifs {
    grid-template-columns: min-content min-content min-content ;
  }
}

.unown {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.unown p {
  /* border-bottom: 1px solid black; */
  text-align: center;
  font-weight: bolder;
}
.unown img {
  padding: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form h2 {
  text-align: center;
  font-size: 1.75rem;
}
@media (max-width: 750px) {
  .containerRes h2 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .containerRes h2 {
    width: 60%;
  }
}

form textarea {
  resize: none;

  width: 90%;
  padding: 0.5rem;

  border-radius: 5px;
}
form button {
  margin-top: 0.5rem;
  padding: 0.5rem;

  color: white;
  font-weight: bolder;
  font-size: 1rem;

  background: transparent;
  border-radius: 10px;
  border: 4px solid rgb(26, 30, 55);

  cursor: pointer;
}



footer {
  width: 100%;
  margin: 0.5rem 0 ;

  display: flex;
  justify-content: center;
}
footer p {
  margin-right: 5px;
}

.containerRes {
  background-image: url("./asets/ruina-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  overflow-x: none;
}

.containerRes1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  padding: 1.5rem 0.5rem 0;
}

.containerRes header {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 100%;
}

header button{
  margin-top: 0.5rem;
  padding: 0.5rem;

  color: white;
  font-weight: bolder;
  font-size: 1rem;

  background: transparent;
  border-radius: 10px;
  border: 4px solid rgb(26, 30, 55);

  cursor: pointer;
}

h2 {
  font-size: 2rem;
  margin: 0 2rem ;
}

small {
  margin: 0 2rem 4rem ;
  text-align: center;
}

.flexUnowns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div[atrr=" "] {
  background-color: transparent;
  width: 5rem;
}



#unowns img {
  padding: 0% 1.5rem;
  margin-bottom: 2rem;
  scale: 1.7;
} 
