.container {
  background-image: url("./asets/ruina-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

  height: 100vh;

  display: flex;
  justify-content: center;
}

.container h1 {
  font-size: 3rem;
  margin-top: 1rem;
}